<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="border p-4">
      <h3>Welcome on board!!!</h3>
      <p>Explore the tools and make your dev life eaiser.</p>
      <div class="alert alert-primary" role="alert">
        This tool is developed keeping in mind the dev works for a Data
        Engineer. This tools offers quite a few tool and feature that helps you
        code faster. This is more inclined towards data engineering.
      </div>
      <div class="alert alert-light" role="alert">
        This tool is developed by
        <a href="https://www.pritishranjan.com">PREETish Ranajan</a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
