<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink=""
      routerLinkActive="active"
      aria-current="page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="peter"
      routerLinkActive="active"
      aria-current="page"
      >Parker</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="ned" routerLinkActive="active">Ned</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="mj" routerLinkActive="active">MJ</a>
  </li>
  <!--<li class="nav-item">
    <a class="nav-link disabled">Flash</a>
  </li>-->
</ul>
